body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9FAF8;
}

header, #main-section, footer{
    background-color: #1F2937;
}

#navigation-bar {
    margin: 0;
    padding: 0;
}

.nav-item, .sub-text, footer{
    font-size: 15px;
    color: #E5E7EB
}

a {
    user-select: none;
}

#main-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5% 10%;
}

#main-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#main-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

#main-button {
    border: 0;
}

.element {
    flex: 1;
}

#random-section-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 40px;
}

#quote-section{
    background-color: #E5E7EB;
    text-align: right;
    padding: 7%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300; 
    color: #1f2937;
    max-width: 50%;
    text-align: left;
    overflow: break-word;
    margin: 0 auto;
    flex-grow: 1;
}

#quote-sign-off {
    font-size: 36px;
    font-weight: bolder;
    text-align: right;
    align-self: flex-end;
    padding-right: 25%;
    margin-top: 0;
}

#action-text {
    color: #E5E7EB;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}

#action-box {
    background-color: #3882f6;
    border-radius: 6px;
    height: 150px;
    padding: 20px;
    text-align: center;
    max-width: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#action-section , #random-section{
    background-color: #F9FAF8;
}

#action-content {
    text-align: left;
    flex: 1;
    padding-left: 10%;
}

.sub-text {
    margin-top: 1px;
}
#action-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6%;
}

.sign-up-button {
    align-content: right;
    border: 1px solid #F9FAF8;
    height: 40px;
    width: 125px;
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 7px;
}

.sign-up-button:active {
    background-color: #3861f6; 
    transform: scale(0.95); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  }

#button-container {
    text-align: right;
    padding-right: 10%;
}

.copyright {
    margin: 0;
    padding: 24px;
    text-align: center;
}

#nav-logo {
    width: 50px;
    height: 50;
}

.resized-image {
    max-width: 50%;
    border-radius: 10px;
    border: 3px solid #3882F6;
}

#main-image {
    height: 300px;
    width: auto;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

#random-section {
    text-align: center;
    padding: 3% 15% 10%;
    
}

#random-section-title {
    margin-top: 0;
    margin-bottom: 7%;
}

.image-item {
    flex: 0 0 calc(25% - 10px);
    margin: 0 -10px;
    text-align: center;
}

#random-section-picture-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.image-caption {
    font-size: 20px;
    margin-top: 10px;
    color: #1f2937;
}
